<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppCenterSecret</key>
	<string>$(RMA_APP_CENTER_SECRET)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.rakuten.tech.mobile.miniapp.MiniAppDemo</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.rakuten.tech.mobile.miniapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>miniappdemo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GADApplicationIdentifier</key>
	<string>$(RMA_GAD_APPLICATION_IDENTIFIER)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>RASProjectId</key>
	<string>$(RAS_PROJECT_IDENTIFIER_PROD)</string>
	<key>RASProjectSubscriptionKey</key>
	<string>$(RAS_PROJECT_SUBSCRIPTION_KEY_PROD)</string>
	<key>RASStagingProjectId</key>
	<string>$(RAS_PROJECT_IDENTIFIER_STG)</string>
	<key>RASStagingProjectSubscriptionKey</key>
	<string>$(RAS_PROJECT_SUBSCRIPTION_KEY_STG)</string>
	<key>RATAccountIdentifier</key>
	<real>1553</real>
	<key>RATAppIdentifier</key>
	<integer>1</integer>
	<key>RATEndpoint</key>
	<string>$(RAT_ENDPOINT)</string>
	<key>RMAAPIEndpoint</key>
	<string>$(RMA_API_ENDPOINT_PROD)</string>
	<key>RMAAPIStagingEndpoint</key>
	<string>$(RMA_API_ENDPOINT_STG)</string>
	<key>RMAHostAppUserAgentInfo</key>
	<string>$(RMA_USER_AGENT)</string>
	<key>RMAIsPreviewMode</key>
	<true/>
	<key>RMARequireMiniAppSignatureVerification</key>
	<false/>
	<key>RMASSLKeyHash</key>
	<dict>
		<key>backup</key>
		<string>$(RMA_SSL_KEY_HASH_BACKUP)</string>
		<key>main</key>
		<string>$(RMA_SSL_KEY_HASH)</string>
	</dict>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
