name: Swiftlint Check

on:
  pull_request:
    branches: [ master, candidate, gh-pages ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - name: Repository checkout
      uses: actions/checkout@v2
    - name: Run SwiftLint
      run: swiftlint --strict